<!doctype html>
<html>
  <head>
    <title>Feature Toggles</title>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta content='width=device-width' name='viewport' />
    <style>
    * { padding: 0; margin: 0; }
    body {
      background-color: #effecd;
      font: 27px/1.6 Helvetica, Arial, sans-serif;
      margin: 1em 3em;
      padding: 0;
      color: #346734;
    }
    h1 {
      -o-text-shadow: 0 1px 0 #fff, 0 2px 3px #888;
      -ms-text-shadow: 0 1px 0 #fff, 0 2px 3px #888;
      -moz-text-shadow: 0 1px 0 #fff, 0 2px 3px #888;
      -webkit-text-shadow: 0 1px 0 #fff, 0 2px 3px #888;
      text-shadow: 0 1px 0 #fff, 0 2px 3px #888;
      color: #349834;
      font-size: 3em;
      margin-bottom: 0.5em;
    }
    @media only screen and (max-width: 825px) {
      h1 {
        font-size: 2em;
      }
    }
    @media only screen and (max-width: 600px) {
      body {
        font: 20px/1.6 Helvetica, Arial, sans-serif;
      }
    }
    @media only screen and (max-width: 420px) {
      body {
        font: 18px/1.6 Helvetica, Arial, sans-serif;
      }
    }
    @media only screen and (max-width: 420px) {
      body {
        margin: 0.3em 1em;
        font: 18px/1.6 Helvetica, Arial, sans-serif;
      }
    }
    @media only screen and (max-width: 325px) {
      body {
        font: 16px/1.6 Helvetica, Arial, sans-serif;
      }
    }
    td { padding: 0.1em 0.5em; }
    .col-feature {
      text-align: right;
      -o-text-shadow: 0 1px 0 #fff;
      -ms-text-shadow: 0 1px 0 #fff;
      -moz-text-shadow: 0 1px 0 #fff;
      -webkit-text-shadow: 0 1px 0 #fff;
      text-shadow: 0 1px 0 #fff;
      font-family: Georgia, Palatino, "Times New Roman", Times, serif;
    }
    .col-value { text-align: left; }
    .feature-enabled, .feature-disabled, .feature-custom-value {
      padding: 0 8px;
      letter-spacing: 0.1em;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    .feature-enabled, .feature-disabled {
      -o-text-shadow: 0 1px 0 #333;
      -ms-text-shadow: 0 1px 0 #333;
      -moz-text-shadow: 0 1px 0 #333;
      -webkit-text-shadow: 0 1px 0 #333;
      text-shadow: 0 1px 0 #333;
    }
    .feature-enabled {
      background: #080;
      color: #ff8;
      -o-box-shadow: 0 1px 0 #235623;
      -ms-box-shadow: 0 1px 0 #235623;
      -moz-box-shadow: 0 1px 0 #235623;
      -webkit-box-shadow: 0 1px 0 #235623;
      box-shadow: 0 1px 0 #235623;
    }
    .feature-disabled {
      background: #777;
      color: #eee;
      -o-box-shadow: 0 1px 0 #444;
      -ms-box-shadow: 0 1px 0 #444;
      -moz-box-shadow: 0 1px 0 #444;
      -webkit-box-shadow: 0 1px 0 #444;
      box-shadow: 0 1px 0 #444;
    }
    .feature-custom-value {
      background: #222;
      color: #eee;
      -o-box-shadow: 0 1px 0 #000;
      -ms-box-shadow: 0 1px 0 #000;
      -moz-box-shadow: 0 1px 0 #000;
      -webkit-box-shadow: 0 1px 0 #000;
      box-shadow: 0 1px 0 #000;
    }
    </style>
  </head>

  <body>
    <h1>Feature Toggles</h1>

    <table>
      <% FeatureToggler.values.keys.sort.each do |feature| %>
        <% toggle = FeatureToggler.value_of(feature) %>
        <tr>
          <td class="col-feature"><%= feature %></td>
          <td class="col-value">
            <% if [true, false, nil].include?(toggle) %>
              <% if toggle %>
                <span class="feature-enabled">enabled</span>
              <% else %>
                <span class="feature-disabled">disabled</span>
              <% end %>
            <% else %>
              <span class="feature-custom-value"><%= toggle %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
